<div class="container ">
  <div class="row">
    <div class="col-12">
        <table class="table table-bordered viewTable">
            <thead>
              <tr>
                <th scope="col">Sku</th>
                <th scope="col">image</th>
                <th scope="col">Name</th>
                <th scope="col">category</th>
                <th scope="col">Price</th>
                <th scope="col">Date</th>
        
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of itemArray">
                    <td>{{item.sku}}</td>
                    <td class="table-primary"> <img  class="img-thumbnail img"src="{{item.image}}"></td>
                    <td class="table-secondary">{{item.name}}</td>
                    <td class="table-success">{{item.category}}</td>
                    <td class="table-danger">{{item.price}}</td>
                    <td class="table-warning">{{item.date}}</td>
                  </tr>
            </tbody>
          </table>
    </div>
  </div>
 

</div>